{% extends "layout.html" %}

{% block content %}
<!-- TODO: show flashed message somewhere!!! -->
<!-- TODO: add directory icons besides directories, and file icons besides files in the tree! -->
<script>
    var most_recent_project = null;
    function new_project() {
        var name = ""
        while (name.trim() == "") {
            name = prompt("Please provide a Project Name");
        }
        fetch('/new_project?' + new URLSearchParams({
            projname: name.trim()
        }))
        // .then(window.location.reload()) TODO: fixme, i need to reload to show the directory that has just been created
        // TODO: wait for status 200 from the fetch request. if that is sent, manually add the directory to the directory tree so that on next refresh it will all be sorted?
    }

    function new_file() {
        if (current_dir) {
            var name = ""
            while (name.trim() == "") {
                name = prompt("Please provide a valid file name");
            }
            fetch('/new_file?' + new URLSearchParams({
                filename: name.trim(),
                current_dir: current_dir
            }))
            // .then(window.location.reload()) TODO: fixme, i need to reload to show the directory that has just been created

            // TODO: this also has the "refresh problem" we had with "New Project"
        }
    }

    function new_folder() {
        if (current_dir) {
            var name = ""
            while (name.trim() == "") {
                name = prompt("Please provide a valid directory name");
            }
            fetch('/new_folder?' + new URLSearchParams({
                dirname: name.trim(),
                current_dir: current_dir
            }))
            // .then(window.location.reload()) TODO: fixme, i need to reload to show the directory that has just been created

            // TODO: this also has the "refresh problem" we had with "New Project"
        }
    }


    function delete_file() {
        if (current_file) {
            if (!confirm('Are you sure?')) {
                return;
            }
            fetch('/delete_file?' + new URLSearchParams({
                filename: current_file
            }))
            // .then(window.location.reload()) TODO: fixme, i need to reload to show the directory that has just been created
            current_file = null;
            // TODO: this also has the "refresh problem" we had with "New Project"
        }
    }

    function delete_folder() {
        if (current_dir) {
            if (!confirm('Are you sure?')) {
                return;
            }
            fetch('/delete_folder?' + new URLSearchParams({
                current_dir: current_dir
            }))
            // .then(window.location.reload()) TODO: fixme, i need to reload to show the directory that has just been created
            current_dir = null;
            selected_dir = null;
            // TODO: this also has the "refresh problem" we had with "New Project"
        }
    }

    function save_file() {
        var editor = ace.edit("editor");
        file_contents = editor.getValue()
        if (current_file) {
            fetch('/save_file', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "file_contents": file_contents,
                    "current_file": current_file
                })
            });
        }
        else {
            alert("Please select a file");
        }
    }

    function synthesize() {
        if (current_file) {
            // save the file and send the filename over to the backend
            save_file()
            // TODO: endpoint currently does not exist in app.py
            fetch('/synthesize_file?' + new URLSearchParams({
                filename: current_file
            }));
        } else {
            alert("Please select a file");
        }
    }

    function analyze() {
        if (current_file) {
            // save the file and send the filename over to the backend
            save_file()

            fetch('/analyze_ghdl_file?' + new URLSearchParams({
                filename: current_file
            }))
            .then(function (response) { return response.json(); })
                        .then(json => {
                            output_window = document.getElementById("output_window")
                            if(json.output.trim() != "") {
                                output_window.innerHTML = "Output: <pre>" + json.output + "</pre>"
                                output_window.style.border = "1px solid red";
                            } else {
                                output_window.style.border = "1px solid green";
                                output_window.innerHTML = "Output: <pre style=\"color: green\">No errors!</pre>";
                            }
                        }), error => {
                            console.log(error);
                        };
        } else {
            alert("Please select a file");
        }
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.12.3/ace.js"
    integrity="sha512-yARx+3W/tyZPXyRfZ4DLRdj0rXF2yjH2D6bKpPslrl1c62Q6ZC808L++ft9jkzIN9vmLtQCFsYNrzoOE/Im2Dg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div>
    <div id="navbar-container">
        <div id="navbar">
            <button id="New_Project" onclick="new_project()">New Project</button>
            <button id="New_File" onclick="new_file()">New File</button>
            <button id="New_Folder" onclick="new_folder()">New Folder</button>
            <button id="Delete_File" onclick="delete_file()">Delete File</button>
            <button id="Delete_Folder" onclick="delete_folder()">Delete Folder</button>
            <button id="Save_File" onclick="save_file()">Save</button>
            <button id="Analyze" onclick="analyze()">Analyze</button>
            <button id="Synthesize" onclick="synthesize()">Synthesize</button>
        </div>
    </div>
    <div class="bottom-box">
        <!-- the resizabel file tree  -->
        <div class="resize" id="filetree">
            <!-- Directory tree begins -->
            <ul id="myUL">
                <h1>{{ tree.name }}</h1>
                <ul>
                    {%- for item in tree.children recursive %}
                    <li class="file-tree-file">
                        <span class="caret" data-pathname="{{ item.path }}" data-dirname="{{ item.dirname }}"
                            oncontextmenu="window.alert('TODO')">
                            {{ item.name }}
                        </span>
                        {%- if item.children -%}
                        <ul class="nested" oncontextmenu="window.alert('TODO')">
                            {{ loop(item.children) }}</ul>
                        {%- endif %}
                    </li>
                    {%- endfor %}
                </ul>
            </ul>
            <!-- Directory tree ends -->
        </div>
        <div class="name-and-ide-box">

            <div class="filename" id="filename_container" style="display: none;"><span id="filename_name"></span><span
                    id="save_indicator"></span></div>
            <!-- the text editor -->

            <div class="ide" id="editor"> {{ file_contents }}
            </div>
            <script>
                var editor = ace.edit("editor");
                editor.session.setMode("ace/mode/vhdl");
            </script>
        </div>
    </div>
    <!-- This is where the output messages would appear, if any.
        Such as "Line 25: unknown variable 'TODO'"-->
    <div class="output_window_class" id="output_window">

    </div>
</div>


<script>
    var toggler = document.getElementsByClassName("caret");
    var i;
    var current_file = null;
    var current_dir = null; // string pathname
    var selected_dir = null; // document object

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function () {
            nested = this.parentElement.querySelector(".nested");
            if (nested == null) {
                editor = document.getElementById("editor");
                pathname = this.getAttribute("data-pathname");
                current_file = pathname;
                filename_container_name = document.getElementById("filename_name")
                if (current_file) filename_container_name.innerHTML = current_file.substring(current_file.indexOf('.es4/') + 5);
                if (pathname != "" && pathname != null) {
                    // view the file name
                    filename_container = document.getElementById("filename_container");
                    filename_container.style.display = "block";

                    // get request to backend to receive data to render
                    target = '/get_file?' + new URLSearchParams({ filename: pathname })
                    fetch(target, {
                        method: 'GET'
                    })
                        .then(function (response) { return response.json(); })
                        .then(function (json) {
                            editor = ace.edit("editor");
                            editor.session.setTabSize(4);
                            editor.setValue(json.contents, -1);
                        });
                } else if (pathname == "") {
                    current_dir = this.getAttribute("data-dirname")
                    if (selected_dir != null) {
                        selected_dir.style.border = ""; // unselect the old color
                    }
                    this.style.border = "1px solid red";
                    selected_dir = this;
                }

            } else {
                nested.classList.toggle("active");
                this.classList.toggle("caret-down");

                current_dir = this.getAttribute("data-dirname");
                if (selected_dir != null) {
                    selected_dir.style.border = ""; // unselect the old color
                }
                this.style.border = "1px solid red";
                selected_dir = this;
            }
        });
    }

    // TODO: how to allow people to move about directories?

    // command S implementation: https://www.thatsoftwaredude.com/content/8783/how-to-ctrl--s-to-save-in-javascript
    var isCtrl = false;
    window.addEventListener('load', function () {
        document.getElementById('editor').addEventListener('keydown', function (e) {
            if (e.keyCode == 17 || e.keyCode == 91) { // cmd or ctrl
                e.preventDefault();
                isCtrl = true;
            }

            if (e.keyCode == 83 && isCtrl) {
                e.preventDefault();
                save_file();
            }
        });
    });

    document.getElementById('editor').addEventListener('keyup', function (e) {
        e.preventDefault();
        isCtrl = false;
    });
</script>

{% endblock %}