{% extends "layout.html" %}

{% block content %}
<!-- TODO: show flashed message somewhere!!! -->
<!-- TODO: add directory icons besides directories, and file icons besides files in the tree! also add an "expand all" button -->
<script>
    var most_recent_project = null;
    function new_project() {
        var name = ""
        while (name.trim() == "") {
            name = prompt("Please provide a Project Name");
        }
        fetch('/new_project?' + new URLSearchParams({
            projname: name.trim()
        })).then(response => {
            // status code 200
            // check if redirected is true
            // if so, we intended to "flash" an error from the backend
            if (response.redirected) {
                alert("An error occurred while creating the project. Please check that the project you are trying to create does not already exist.")
            } else {
                location.reload(); // refresh on successful response from the backend
            }

        });
    }
    // TODO: create an exapand all button to expand all directories in the tree
    function new_file() {
        if (current_dir) {
            var name = ""
            while (name.trim() == "") {
                name = prompt("Please provide a valid file name");
            }
            fetch('/new_file?' + new URLSearchParams({
                filename: name.trim(),
                current_dir: current_dir
            }))
                .then(response => {
                    if (response.status != 200) {
                        alert("An error occurred while creating the file. Please check that the file you are trying to create does not already exist.")
                    } else {
                        alert("An error occurred while creating the file. Please check that the file you are trying to create does not already exist.")
                        // status code 200
                        // check if redirected is true
                        // if so, we intended to "flash" an error from the backend
                        if (response.redirected) {
                            alert("error: something is wrong")
                        } else {
                            location.reload(); // refresh on successful response from the backend
                        }
                    }
                });

        } else {
            alert("Please select a parent folder for the new file");
        }
    }

    function new_folder() {
        if (current_dir) {
            var name = ""
            while (name.trim() == "") {
                name = prompt("Please provide a valid directory name");
            }
            fetch('/new_folder?' + new URLSearchParams({
                dirname: name.trim(),
                current_dir: current_dir
            }))
                .then(response => {
                    if (response.status != 200) {
                        alert("An error occurred while creating the folder. Please check that the folder you are trying to create does not already exist.")
                    } else {
                        // status code 200
                        // check if redirected is true
                        // if so, we intended to "flash" an error from the backend
                        if (response.redirected) {
                            alert("error: something is wrong")
                        } else {
                            location.reload(); // refresh on successful response from the backend
                        }
                    }
                });
        } else {
            alert("Please select a parent folder for the new folder");
        }
    }

    // TODO: feature proposal: on refresh, remember the file tree state (which folders are open) and restore it (maybe from local storage/session, etc.)

    function delete_file() {
        if (current_file) {
            if (!confirm('Are you sure?')) {
                return;
            }
            fetch('/delete_file?' + new URLSearchParams({
                filename: current_file
            }))
                .then(response => {
                    if (response.status != 200) {
                        alert("An error occurred while deleting the file. Please check that the file you are trying to delete exists.")
                    } else {
                        // status code 200
                        // check if redirected is true
                        // if so, we intended to "flash" an error from the backend
                        if (response.redirected) {
                            alert("error: something is wrong")
                        } else {
                            location.reload(); // refresh on successful response from the backend
                        }
                    }
                });
            current_file = null;
        } else {
            alert("Please select a file to delete from the directory tree");
        }
    }

    function delete_folder() {
        if (current_dir) {
            if (!confirm('Are you sure?')) {
                return;
            }
            fetch('/delete_folder?' + new URLSearchParams({
                current_dir: current_dir
            }))
                .then(response => {
                    if (response.status != 200) {
                        alert("An error occurred while deleting the folder. Please check that the folder you are trying to delete exists.")
                    } else {
                        // status code 200
                        // check if redirected is true
                        // if so, we intended to "flash" an error from the backend
                        if (response.redirected) {
                            alert("error: something is wrong")
                        } else {
                            location.reload(); // refresh on successful response from the backend
                        }
                    }
                });
            current_dir = null;
            selected_dir = null;
        }
    }

    function save_file() {
        // if current file ends with ".toml", run the toml validator.
        if (current_file.endsWith(".toml")) {
            validateToml();
        }
        var editor = ace.edit("editor");
        editor.session.getUndoManager().markClean();
        document.getElementById("save_indicator").hidden = true;
        file_contents = editor.getValue()
        if (current_file) {
            fetch('/save_file', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "file_contents": file_contents,
                    "current_file": current_file
                })
            });
        }
        else {
            alert("Please select a file to save from the directory tree");
        }
    }

    function synthesize() {
        if (current_file) {
            // save the file and send the filename over to the backend
            save_file()
            // TODO: endpoint currently does not exist in app.py
            fetch('/synthesize_file?' + new URLSearchParams({
                filename: current_file
            }))
                .then(function (response) { return response.json(); })
                .then(json => {
                    output_window = document.getElementById("output_window")
                    output_window.innerHTML = "Output: <pre>" + json.output + "</pre>" // TODO: change this, and handle errors

                    // if (json.output.trim() != "" && !json.success) {
                    //     output_window.innerHTML = "Output: <pre>" + json.output + "</pre>"
                    //     output_window.style.border = "1px solid red";
                    // } else {
                    //     output_window.style.border = "1px solid green";
                    //     output_window.innerHTML = "Output: <pre style=\"color: green\">No errors!</pre>";
                    //     alert("No errors")
                    // }
                }), error => {
                    console.log(error);
                };
        } else {
            alert("Please select a file to synthesize from the directory tree");
        }
    }
    // This function depends on this code here:
    // https://github.com/jakwings/toml-j0.4
    function validateToml() {
        console.log("validateToml");
        if (current_file) {
            // save the file and send the filename over to the backend
            const toml_data = editor.getValue()
            console.log(toml_data);

            try {
                var data = toml.parse(toml_data);
                const warnings = validate_specific_format_toml(data);
                if (!warnings) {
                    output_window.style.border = "1px solid green";
                    output_window.innerHTML = "Output: <pre style=\"color: green\">Config file syntax correct</pre>";
                } else {
                    output_window.style.border = "1px solid #808000";
                    output_window.innerHTML = "Output: <pre style=\"color: black\">" + warnings + "</pre>";
                }
            } catch (err) {
                if (err.line && err.column) {
                    var error_message = 'Line ' + err.line + ', column ' + err.column + ': ' + err;
                }
                else {
                    error_message = err;
                }
                output_window.innerHTML = "Output: <pre>" + error_message + "</pre>"
                output_window.style.border = "1px solid red";

            }
            console.log("Done");

        } else {
            alert("Please select a file to analyze from the directory tree");
        }
    }
    // Makes sure the toml file provided by a student matches exactly
    // that which we depend our Makefile on.
    function validate_specific_format_toml(toml_data) {
        let warnings = "";
        // Validate the needed fields fields exist
        let { pins, project, toplevel, src } = toml_data;
        console.log(toml_data, toplevel);

        // Validate that the pins table exists, and each pin is unique
        if (!pins) {
            throw new Error("Missing [pins] table in config file");
        }
        const pin_set = new Set();
        for (const pin_mapping in pins) {
            if (!pin_set.has(pins[pin_mapping])) {
                pin_set.add(pins[pin_mapping]);
            } else {
                throw new Error(`The variable "${pin_mapping}" cannot be assigned to pin "${pins[pin_mapping]}" as the pin is already mapped to.\nPlease update your config.toml file.`);
            }
        }

        // Project 

        // Check that the variable is set (empty string is set)
        if (!project && typeof (project) != "string") {
            throw new Error(`The 'project' field is missing. Please add this variable to the "config.toml" file`);
        }
        if (typeof (project) != "string") {
            throw new Error('The "project" field must be a string. Please change the variable type in the "config.toml" file.');
        }
        if (project == "") {
            warnings += 'Warn: The "project" variable is an empty string in "config.toml"\n';
        }
        // Toplevel
        if (!toplevel && typeof (toplevel) != "string") {
            throw new Error(`The 'toplevel' field is missing. Please add this variable to the "config.toml" file`);
        }
        if (typeof (toplevel) != "string") {
            throw new Error('The "toplevel" field must be a string. Please change the variable type in the "config.toml" file.');
        }
        if (toplevel == "") {
            warnings += 'Warn: The "toplevel" variable is an empty string in "config.toml"\n';
        }
        // Source File List
        if (!src) {
            throw new Error(`The 'src' field is missing. Please add this variable to the "config.toml" file`);
        }
        if (!Array.isArray(src)) {
            throw new Error('The "src" field must be a list. Please change the variable type in the "config.toml" file.');
        }
        if (src.length == 0) {
            warnings += 'Warn: The "src" list is empty in "config.toml"\n';
        }
        return warnings;
    }


    function build() {
        if (current_dir) {
            fetch('/build?' + new URLSearchParams({
                directory: current_dir
            }))
            .then(function (response) 
                { if (response.status != 200) {
                    alert("Error building the project")
                    } else {
                        location.reload(); // TODO: question to ellis -> Why was this added?? We also want to preserve the state of the dir tree after reload, but we can think about that once we've finalized our frontend
                    }})
        } else {
            alert("Please select a project to build from the directory tree");
        }
    }

    function analyze() {
        if (current_file) {
            // save the file and send the filename over to the backend
            save_file()

            fetch('/analyze_ghdl_file?' + new URLSearchParams({
                filename: current_file
            }))
                .then(function (response) { return response.json(); })
                .then(json => {
                    output_window = document.getElementById("output_window")
                    if (json.output.trim() != "" && !json.success) {
                        output_window.innerHTML = "Output: <pre>" + json.output + "</pre>"
                        output_window.style.border = "1px solid red";
                    } else {
                        output_window.style.border = "1px solid green";
                        output_window.innerHTML = "Output: <pre style=\"color: green\">No errors!</pre>";
                    }
                }), error => {
                    console.log(error);
                };
        } else {
            alert("Please select a file to analyze from the directory tree");
        }
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.12.3/ace.js"
    integrity="sha512-yARx+3W/tyZPXyRfZ4DLRdj0rXF2yjH2D6bKpPslrl1c62Q6ZC808L++ft9jkzIN9vmLtQCFsYNrzoOE/Im2Dg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div>
    <div id="navbar-container">
        <div id="navbar">
            <button id="New_Project" onclick="new_project()">New Project</button>
            <button id="New_File" onclick="new_file()">New File</button>
            <!-- <button id="New_Folder" onclick="new_folder()">New Folder</button> -->
            <button id="Delete_Folder" onclick="delete_folder()">Delete Project</button>
            <button id="Delete_File" onclick="delete_file()">Delete File</button>
            <button id="Save_File" onclick="save_file()">Save</button>
            <button id="Analyze" onclick="analyze()">Analyze</button>
            <button id="Synthesize" onclick="synthesize()">Synthesize</button>
            <button id="Build" onclick="build()">Build</button>
            <button id="ValidateTOML" onclick="save_file(); validateToml()">Validate TOML file</button>
        </div>
    </div>
    <div class="bottom-box">
        <!-- the resizabel file tree  -->
        <div class="resize" id="filetree">
            <!-- Directory tree begins -->
            <ul id="myUL">
                <h1>{{ tree.name }}</h1>
                <ul>
                    {%- for item in tree.children recursive %}
                    <li class="file-tree-file">
                        <span class="caret" data-pathname="{{ item.path }}" data-dirname="{{ item.dirname }}"
                            oncontextmenu="window.alert('TODO')">
                            {{ item.name }}
                        </span>
                        {%- if item.children -%}
                        <ul class="nested" oncontextmenu="window.alert('TODO')">
                            {{ loop(item.children) }}</ul>
                        {%- endif %}
                    </li>
                    {%- endfor %}
                </ul>
            </ul>
            <!-- Directory tree ends -->
        </div>
        <div class="name-and-ide-box">

            <div class="filename" id="filename_container" style="display: none;"><img width="40px" height="40px"
                    src="https://www.eecs.tufts.edu/~ebrown26/ankur-img.png" id="save_indicator" hidden /><span
                    id="filename_name"></span></div>
            <!-- the text editor -->
            <div style="background-color: #fdf6e3" id="editor_container">
                <div class="ide" id="editor"> {{ file_contents }} </div>
                <div id="netlist-svg" class="netlist-svg"></div>
            </div>
            <script>
                var editor = ace.edit("editor");
                editor.setTheme("ace/theme/solarized_light");
                editor.session.setMode("ace/mode/vhdl");
                document.getElementById("editor").style.fontSize = '14px';
            </script>

        </div>
    </div>
    <!-- This is where the output messages would appear, if any.
        Such as "Line 25: unknown variable 'TODO'"-->
    <div class="output_window_class" id="output_window" style="overflow:auto; resize:vertical; min-height: 30px">

    </div>
</div>

<script>
    // Find if a document has been edited, indicate its changed
    // https://stackoverflow.com/questions/19670178/how-to-use-the-undomanager-to-determine-if-document-has-unsaved-changes
    var saveIndicator = document.getElementById("save_indicator");
    saveIndicator.hidden = true;
    var editor = ace.edit("editor");
    // using input event instead of change since it's called with some timeout
    editor.on("input", function () {
        saveIndicator.hidden = editor.session.getUndoManager().isClean();
        let src3 = "https://www.eecs.tufts.edu/~ebrown26/ellis-img.png";
        saveIndicator.src = src3;
    });
</script>

<body onbeforeunload="if (!document.getElementById('editor').session.getUndoManager().isClean()) {
    return 'save changes'; }
    else { return; }">


    <script>
        var toggler = document.getElementsByClassName("caret");
        var i;
        var current_file = null;
        var current_dir = null; // string pathname
        var selected_dir = null; // document object

        for (i = 0; i < toggler.length; i++) {
            toggler[i].addEventListener("click", function () {
                nested = this.parentElement.querySelector(".nested");
                if (nested == null) {
                    if (!ace.edit("editor").session.getUndoManager().isClean()) {
                        const response = confirm("You have unsaved data, would you like to progress?");
                        if (!response) {
                            return;
                        }
                    }
                    editor = document.getElementById("editor");
                    pathname = this.getAttribute("data-pathname");
                    current_file = pathname;
                    filename_container_name = document.getElementById("filename_name")
                    if (current_file) filename_container_name.innerHTML = current_file.substring(current_file.indexOf('.es4/') + 5);
                    if (pathname != "" && pathname != null) {
                        // view the file name
                        filename_container = document.getElementById("filename_container");
                        filename_container.style.display = "block";

                        // get request to backend to receive data to render
                        target = '/get_file?' + new URLSearchParams({ filename: pathname })
                        fetch(target, {
                            method: 'GET'
                        })
                            .then(function (response) { return response.json(); })
                            .then(function (json) {
                                // if pathname ends with svg, set the ace editor to svg mode.
                                if (pathname.endsWith(".svg")) {
                                    // hide the editor
                                    document.getElementById("editor").style.display = "none";

                                    // show the svg
                                    document.getElementById("netlist-svg").style.display = "block";


                                    // console.log(document.getElementById("editor").innerHTML);
                                    document.getElementById("netlist-svg").innerHTML = json.contents;
                                } else {
                                    // replace inner html with ace editor and set mode to vhdl and fill with contents
                                    // Show the editor
                                    document.getElementById("editor").style.display = "block";

                                    // hide the svg
                                    document.getElementById("netlist-svg").style.display = "none";

                                    editor = ace.edit("editor");
                                    editor.session.setTabSize(4);

                                    if (pathname.endsWith(".txt")) {
                                        editor.session.setMode("ace/mode/text");
                                    }
                                    else if (pathname.endsWith(".toml")) {
                                        editor.session.setMode("ace/mode/toml");
                                    }
                                    else {
                                        editor.session.setMode("ace/mode/vhdl");
                                    }
                                    editor.setTheme("ace/theme/solarized_light");
                                    document.getElementById("editor").style.fontSize = '14px';

                                    editor.setValue(json.contents, -1);
                                    console.log(json.contents);
                                }
                                editor.session.getUndoManager().markClean();
                            });
                    } else if (pathname == "") {
                        current_dir = this.getAttribute("data-dirname")
                        if (selected_dir != null) {
                            selected_dir.style.border = ""; // unselect the old color
                        }
                        this.style.border = "1px solid red";
                        selected_dir = this;
                    }

                } else {
                    nested.classList.toggle("active");
                    this.classList.toggle("caret-down");

                    current_dir = this.getAttribute("data-dirname");
                    if (selected_dir != null) {
                        selected_dir.style.border = ""; // unselect the old color
                    }
                    this.style.border = "1px solid red";
                    selected_dir = this;
                }
            });
        }

        // TODO: how to allow people to move about directories?

        // command S implementation: https://www.thatsoftwaredude.com/content/8783/how-to-ctrl--s-to-save-in-javascript
        var isCtrl = false;
        window.addEventListener('load', function () {
            document.getElementById('editor').addEventListener('keydown', function (e) {
                if (e.keyCode == 17 || e.keyCode == 91) { // cmd or ctrl
                    e.preventDefault();
                    isCtrl = true;
                }

                if (e.keyCode == 83 && isCtrl) {
                    e.preventDefault();
                    save_file();
                }
            });
        });

        document.getElementById('editor').addEventListener('keyup', function (e) {
            e.preventDefault();
            isCtrl = false;
        });

    </script>


    <!-- Script that allows us to validate TOML on button press -->
    <script src="{{url_for('static', filename='toml-validate.js')}}"></script>
    {% endblock %}