<html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<head>
<link rel="stylesheet" href="/static/style.css" />

{% block scripts %}
{% endblock %}

</head>

<body>
    <div id="navbar-container">
        <div id="navbar">
            TODO: NAVBAR (button functionality??)
        </div>
    </div>

    {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{category}}">Error: {{ message }}</div>
    {% endfor %}
    
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id="footer-container">
        <div id="footer">
            Capstone Project - Team Green-Blue<br/>
            es4vhdl.com &copy; 2022
        </div>
    </div>
</body>
</html>
